<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty App | Registration</title>
    <link rel="stylesheet" type="text/css" href="/app/content/css/style.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
            rel="stylesheet"/>
</head>
<body>
<div>
    <a href="http://localhost:8080/app/user/customer/login">Sign In as customer</a>
</div>
<div>
    <a href="http://localhost:8080/app/user/master/login">Sign In as master</a>
</div>
</body>
</html>