<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty App | Master Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/app/content/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"/>
</head>
<body>
<div class="logo-signup">
    <!--<img src="logo.png" alt="Priorities logo"/>-->
</div>
<div class="signup-box">
    <form>
        <label>Phone number</label>
        <input id="phone-number-field" type="text" placeholder="" />
        <label>Password</label>
        <input id="password-field" type="password" placeholder="" />
        <label>Confirm Password</label>
        <input id="confirm-password-field" type="password" placeholder="" />
        <label>First name</label>
        <input id="first-name-field" type="text" placeholder="" />
        <label>Last name</label>
        <input id="last-name-field" type="text" placeholder="" />
        <input id="sign-up-button" class="signin-signup-button" type="button" value="Sign Up"/>
    </form>
    <p id="registration-error" class="error-text-field"></p>
	  <p class="para-2">Have an account already?
          <a href="http://localhost:8080/app/user/master/login">Sign In</a>
      </p>
</div>

<script src="/app/content/js/master_registration.js"></script>
</body>
</html>