body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

section {
	margin-top: 100px;
	height: 100vh;
	align: center;
	align-items: center;
	scroll-snap-align: start;
}

.scroll-main-container{
	scroll-snap-type: y mandatory;
	margin-top: 140px;
}

.intro-container{
    display: flex;
    align-items: center;
}

.intro-image{
	width: 50%;
}

.intro-text{
	margin-right: 50px;
}

.intro-title{

	font-family: 'Mplus 1p Bold';
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	text-align: center;

	color: #404040;
}

.intro-description{
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	text-align: center;

	color: #000000;
}

.intro-buttons{
	text-align: center;
}

.start-button {
  width: 200px;
  height: 35px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  background-color: #ffd541;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
}

.download-button {
  width: 200px;
  height: 35px;
  margin-top: 20px;
  border-radius: 10px;
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  text-align: center;

    font-family: 'Mplus 1p Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
}

.two{
	background: #50c7a3;
}

.three{
	background: #50c7a3;
}

.signup-box {
  width: 360px;
  height: 425px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 20px;
  border: solid;
  border-color: #cf35d2;
  background-color: white;
}

.login-box {
  width: 360px;
  height: 250px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 20px;
  border: solid;
  border-color: #cf35d2;
  background-color: white;

}

.forgot_pass{
	margin-top: 10px;
	margin-left:20px;
}

.logo-signin{

	margin-top:150px;
	margin-left:490px;

}

.logo-signup{

	margin-top:50px;
	margin-left:490px;

}

.signin-signup-button{
	background-color: #cf35d2;
	color: #ffffff;
}

.topnavbar {
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	overflow: hidden;
	background-color: #cf35d2;
	border-radius: 0px 0px 30px 30px;
}


/*
.topnavbar a {
	color: #ffd541;
	text-align: center;
	padding: 40px;
	float: right;
	margin-right: 20px;
}*/

.functionsTopNavBar {
	border: solid;
	border-width: 5px;
	border-color: #cf35d2;
	border-radius: 15px;
	color: #ffd541;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	text-decoration: none;
	margin-top: 25px;
	margin-right: 20px;
}

.signInTopNavBar {
	border: solid;
	border-width: 5px;
	border-color: #cf35d2;
	border-radius: 15px;
	color: #ffd541;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	text-decoration: none;
	margin-top: 25px;
	margin-right: 20px;
}


.signUpTopNavBar {
	border: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	border-radius: 15px;
	color: #ffd541;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	text-decoration: none;
	margin-top: 25px;
	margin-right: 20px;
}

.topnavbar img {
	padding: 10px;
	margin-left: 20px;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 315px;
  height: 35px;
  border: none;
  background: #f1f1f1;
  border-radius: 6px;
  outline: none;
}
input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  font-size: 18px;
}

.para-2 {
  text-align: center;
  color: #000000;
  font-size: 15px;
  margin-top: 20px;
}
.para-2 a {
  color: #ffd541;
}

.error-text-field {
  font-size: 18px;
  color: #de2114;
  font-style: bold;
}