<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beautu App | Sign In</title>
    <link rel="stylesheet" type="text/css" href="/app/content/css/style.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
            rel="stylesheet"/>
</head>
<body>
<div class="login-box">
    <form>
        <label>Phone number</label>
        <input id="phone-number-field" type="email" placeholder="" />
        <label>Password</label>
        <input id="password-field" type="password" placeholder="" />
        <input id="sign-in-button" class="signin-signup-button" type="button" value="Sign In" />
    </form>
</div>
</body>
</html>